/*-- scss:defaults --*/

/*-- scss:rules --*/

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.reveal .center {
    text-align: center;
}

.centerbig {
    text-align: center;
    font-size: 1.5em;
}

.vextend1 {
    margin-top: 1em;        
    margin-bottom: 1em;        
}

.larger {
    font-size: 1.3em;
}

.smaller {
    font-size: .8em;
}

.right {
    text-align: right;
}

.reveal .leftalign {
    text-align: left;
}
